@charset "UTF-8";

.profile-img {
  width: 100%; /* 이미지의 가로 너비를 부모 요소에 맞게 조정 */
  height: auto; /* 이미지의 세로 크기를 자동으로 비율에 맞게 조정 */
  max-width: 200px; /* 이미지의 최대 가로 크기 */
  display: block;  /* 이미지를 블록 요소로 설정 */
  margin: 0 auto; /* 이미지를 중앙 정렬 */
}

.profile {
  width: 100px; /* 프로필 영역의 너비 조정 */
  padding: 20px; /* 여백 조정 */
  text-align: center; 
}

h4, p {
    margin-top: 50px; /* 텍스트와 이미지 사이에 여백 추가 */
}

.profile-item {
    text-align: center;  /* 텍스트를 중앙 정렬 */
    margin-bottom: 20px; /* 항목 간의 여백 추가 */
}
